@import '../components/cards';
@import '../components/banner';

.form-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-group {
  width: auto;
}


h2 {
  font-size: 30px;
}

.container {
  padding: 100px 0px;
}

.row {
  margin: 15px 15px;
}



